
$header-body: #d5e6e6;
$blue-dark: #34374c;
$pink: #de3052;
$blue-facebook: #3a5896;
$purple-body: #351d54;
$green-pool: #77cac4;
$white: #e6d2d6;
$green-yellow: #a9e23b;
$green: #00cc66;
$red: #ff3333;
$blue-button: #137db9;