.criar_exp {
	height: auto;
	margin-top: 100px;
}

@media (min-width: 1200px) {
	.container_exp {
		.container {
			width: 1000px;
		}
	}
	
}

#title_exp {
	padding-left: 45px;
	top: 5em;
	background-color: $purple-body;
	color: white;
	font-weight: 800;
	font-size: 1.7em;
	p {
		font-family: 'Rubik';
		font-weight: 900;
		padding-top: 12px;
		padding-bottom: 12px;
		margin-bottom: 0px;
	}
}
.exp_input {
	margin-top: 55px;
	text-transform: uppercase;
	label {
		color: $purple-body;
		font-family: Rubik;
		font-size: 1.35em;
	}
	select{
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #000;
		box-shadow: none;
		width: 40%;
		color: #000;
		padding-left: 0;
		font-family: Rubik;
		margin-bottom: 20%;
	}
	input {
		border: none;
		border-bottom: 1px solid grey;
		box-shadow: none;
		border-radius: 0;
		color: #989898;
		box-shadow: none;
		font-family: Rubik;

		&:focus {
			outline: 0;
			border-color: #666666;
			box-shadow: none;
		}
	}
	textarea {
		border: none;
		border-bottom: 1px solid grey;
		box-shadow: none;
		border-radius: 0;
		color: #989898;
		box-shadow: none;
		font-family: Rubik;
		&:focus {
			outline: 0;
			border-color: #666666;
			box-shadow: none;
		}
	}
}
#exp_checkbox {
	#exp_radio {

	}
	#label_checkbox {
		margin-right: 10px;
		color: #4D4D4D;
		font-size: 14px;
		font-weight: normal;
	}
	input {
		margin-right: 10px;
		
	}
}
#exp_horario {
	#label_horario {
		color: #4D4D4D;
		font-size: 14px;
		font-weight: normal;
	}
}

#exp_img {
	position: relative;
	img {
		width: 230px;
		height: 230px;
		margin-top: 50px;
		margin-left: 45px;
		object-fit: cover;
		border-radius: 50%;
		background: #E4E4E4;
	}
	i {
		color: #DF3053;
		position: absolute;
		float: right;
		right: 34%;
		top: 44%;
		font-size: 75px;
		cursor: pointer;
	}
}
#exp_gif {
	img {
		width: 309px;
		height: 397px;
		margin-top: 50px;
		margin-left: 0;
		object-fit: cover;
		background: #E4E4E4;
		margin-bottom: 60px;
	}
	i {
		color: #DF3053;
		position: absolute;
		float: right;
		right: 30%;
		top: 42%;
		font-size: 75px;
		cursor: pointer;
	}
}
#exp_btn {
	font-family: Rubik;
	margin-top: 80px;
	margin-bottom: 80px;
	#btn_cancelar {
		background-color: $purple-body;
		color: white;
		margin-bottom: 20px;
		padding: 10px 60px;
		border-radius: 10px;
		float: left;
		font-weight: 900;
		font-size: 1.2em;
	}
	#btn_criar {
		background-color: #00C463;
		color: white;
		margin-bottom: 20px;
		padding: 10px 80px;
		border-radius: 10px;
		float: right;
		font-weight: 900;
		font-size: 1.2em;
	}
}
#exp_choice{
	.col-md-6{
		#btn-already{
			float: right;
			margin-bottom: 15%;
			padding: 10px 60px;
			border-radius: 10px;
			float: right;
			font-weight: 900;
			font-size: 1.2em;
		}
		#btn-not-sign{
			float: left;
			margin-bottom: 15%;
			padding: 10px 60px;
			border-radius: 10px;
			float: left;
			font-weight: 900;
			font-size: 1.2em;
		}
	}
}
@media screen and(max-width: 600px) {
	#exp_img {
		img {
			margin-left: 20px;
		}
		i {
			right: 7%;
			top: 82%;
		}
	}
	#exp_gif {
		i {
			right: 4%;
			top: 100%;
		}
	}
	#exp_btn {
		#btn_cancelar {
			padding: 10px 19px;
			margin-top: 40px;
		}
		#btn_criar {
			padding: 10px 50px;
			margin-top: 40px;
		}
	}
}
.dropdown_id {
	select {
		width: 50%;
		padding: 5px 10px;
	}
	
}
