
@font-face {
    font-family: Blanka;
    src: url(../../fonts/Blanka/Blanka-Regular.otf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(../../fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-Italic;
    src: url(../../fonts/Rubik/Rubik-Italic.ttf);
}

@font-face {
    font-family: Rubik-Light;
    src: url(../../fonts/Rubik/Rubik-Light.ttf);
}

@font-face {
    font-family: Rubik-Black;
    src: url(../../fonts/Rubik/Rubik-Black.ttf);
}

@font-face {
    font-family: Rubik-Medium;
    src: url(../../fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../../fonts/Rubik/MONTESERRAT-REGULAR.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../../fonts/Rubik/MONTESERRAT-BOLD.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(../../fonts/Rubik/MONTESERRAT-ITALIC.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../../fonts/Rubik/MONTESERRAT-LIGHT.ttf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../../fonts/Rubik/MONTESERRAT-BLACK.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../../fonts/Rubik/MONTESERRAT-MEDIUM.ttf);
}